<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CSV Comparator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h2 class="mb-3">Specify files to compare</h2>
                <form method="post" th:action="@{/upload}" enctype="multipart/form-data">

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Upload</span>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="file1" id="inputGroupFile01" required>
                            <label class="custom-file-label" for="inputGroupFile01">Choose file 1</label>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Upload</span>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="file2" id="inputGroupFile02" required>
                            <label class="custom-file-label" for="inputGroupFile02">Choose file 2</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Compare</button>
                </form>
            </div>
        </div>
        <div class="row mt-5" th:if="${isError}">
            <div class="col-md-8 mx-auto">
                <div class="alert alert-danger alert-dismissible fade show">
                    <h4 class="mb-2">Please verify the csv files:</h4>
                    <ul th:each="message : ${errorMessages}">
                        <li th:text="${message}"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>